* {
	box-sizing: border-box;
}

body {
	background: #333;
	color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 300 1.8em "Oswald", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
	border-bottom: 1px dashed;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	border-bottom: 1px solid;
}

img {
	max-width: 100%;
}

.ui-panel {
	height: 100vh;
	overflow: hidden;
	line-height: 100vh;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	box-sizing: content-box;
}

.ui-panel--content {
	width: 80%;
	font-size: 4vmin;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.75em;
	text-align: center;
}

.ui-panel--content > h1:first-child,
.ui-panel--content > h2:first-child,
.ui-panel--content > h3:first-child
{
	font-size: 2em;
}

.about .not-a-selfie {
	width: 50%;
	border-radius: 50%;
}

.ui-shadow {
	text-shadow: 0 .1em .2em rgba(0,0,0,.85);
}

.ui-backdrop {
	background: rgba(0,0,0,.65);
	padding: .2em .4em;
}

.about--intro {
	background: url(../img/colourful-building-credit-alex-ellison.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.about--skills {
	background: url(../img/blacksmith-axe-head-credit-rafael-hernandez.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.portfolio--intro {
	background: url(../img/city-at-dusk-credit-will-faichney.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.team {
	font-size: .8em;
	line-height: 1.6em;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.team > li {
	display: inline-block;
	float: left;
	width: 50%;
	padding: .2em;
	margin: 1em 0;
}

.team > li h6 {
	margin: 0 0 .5em;
	font-size: 1.4em;
}

.team > li a {
	color: #fff;
}

.portfolio--greggs {
	background: #8a5738 url(../img/greggs/layout-stripe.jpg) repeat-x 50% 0;
}

.portfolio--ac {
	background: #291912 url(../img/ac/layout-stripe.jpg) repeat-x 50% 0;
}

.portfolio--lbf {
	background: #efefef url(../img/lbf/layout-stripe.jpg) repeat-x 0 0;
	color: #444444;
}
