* {
	box-sizing: border-box;
}

body {
	background: #161629;
	color: #efefef;
}

a {
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	font: 300 1.8em/1.4em "Oswald", sans-serif;
	margin-top: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
	border-bottom: 1px dashed;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	border-bottom: 1px solid;
}

h6 {
	margin: 0 0 .5em;
	font-size: 1.4em;
}

img {
	max-width: 100%;
}

ul {
	list-style-position: inside;
	padding-left: 0;
}

figure {
	margin: 1em 0;
}

figcaption {
	font-size: .5em;
	line-height: 1;
}

.cta {
	display: block;
	position: relative;
	padding: .6em 1.2em;
	width: 90%;
	margin: 1em auto;
	border: 1px solid #ddddf2;
	color: #ddddf2;
	text-decoration: none;
	border-radius: .25em;
	transition: all .1s linear;
}

	.cta:hover,
	.cta:focus,
	.cta:active {
		color: #fff;
		border-color: #fff;
		background: #121218;
	}

	.cta:active {
		top: 1px;
	}

@media screen and (min-device-width: 1024px) {
	.cta {
		display: inline-block;
		width: auto;
	}
}

.ui-panel {
	min-height: 100vh;
	overflow: hidden;
	line-height: 100vh;
	text-align: center;
	padding: 10vh 0;
	box-sizing: content-box;
}

.ui-panel--content {
	width: 80%;
	font-size: 4vmin;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.75em;
	text-align: center;
}

.ui-panel--divider {
	min-height: 50vh;
	line-height: 50vh;
	padding: 0 0;
}

@media screen and (min-device-width: 1024px) {
	.ui-panel {
		padding: 5vh 0;
	}

	.ui-panel--content {
		font-size: 3vmin;
	}
}


.ui-panel--content > h1:first-child,
.ui-panel--content > h2:first-child,
.ui-panel--content > h3:first-child
{
	font-size: 2em;
}

.about .not-a-selfie {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 .1em .2em rgba(0,0,0,.85);
}

@media screen and (min-device-width: 1024px) {
	.about .not-a-selfie {
		width: 25%;
	}
}

.ui-shadow {
	text-shadow: 0 .1em .2em rgba(0,0,0,.85);
}

.ui-backdrop {
	background: rgba(0,0,0,.65);
	padding: .2em .4em;
}

.ui-background-cover {
	background-size: cover;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.about--intro {
	background-image: url(../img/1024-colourful-building-credit-alex-ellison.jpg);
	padding-top: 5%;
}

@media screen and (min-width: 768px) {
	.about--intro {
		padding-top: 0;
	}
}

.about--skills {
	background-image: url(../img/1024-blacksmith-axe-head-credit-rafael-hernandez.jpg);
}

.portfolio--intro {
	background-image: url(../img/1024-city-at-dusk-credit-will-faichney.jpg);
}

.others--music {
	background-image: url(../img/1024-strobe.jpg);
}

.others--coffee {
	background-image: url(../img/1024-coffee-beans.jpg);
}

/**
Switch on the nice scrolling effect for desktops.
It's a bit iffy on mobiles - especially mobile Safari - because the backgrounds
use the entire page height to cover.
**/
@media only screen and (min-device-width: 1280px) {

	.ui-background-cover {
		background-attachment: fixed;
	}

	/**
	Can't wait for image-set / srcset support -_-
	**/
	.about--intro {
		background-image: url(../img/colourful-building-credit-alex-ellison.jpg);
	}

	.about--skills {
		background-image: url(../img/blacksmith-axe-head-credit-rafael-hernandez.jpg);
	}

	.portfolio--intro {
		background-image: url(../img/city-at-dusk-credit-will-faichney.jpg);
	}

	.others--music {
		background-image: url(../img/strobe.jpg);
	}

	.others--coffee {
		background-image: url(../img/coffee-beans.jpg);
	}

}

.team {
	font-size: .8em;
	line-height: 1.6em;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.team > li {
	display: block;
	float: left;
	width: 50%;
	padding: .2em;
	margin: 1em 0;
}

.team__role {
	display: none;
}

@media screen and (min-device-width: 1280px) {
	.team > li {
		width: 33%;
	}
	.team > li:nth-child(3n+1) {
		clear: left;
	}
	.team__role {
		display: block;
	}
}

.team > li a {
	color: #fff;
}

.hire,
.closing {
	color: #ddddf2;
}

.portfolio .ui-panel--content {
	padding-top: 10vh;
}

.portfolio--greggs {
	background: #8a5738 url(../img/greggs/layout-stripe.jpg) repeat-x 50% 0;
}

.portfolio--ac {
	background: #291912 url(../img/ac/layout-stripe.jpg) repeat-x 50% 0;
}

.portfolio--lbf {
	background: #efefef url(../img/lbf/layout-stripe.jpg) repeat-x 85% 0;
}

.portfolio--lbf,
.portfolio--lbf h1,
.portfolio--lbf h2,
.portfolio--lbf h3,
.portfolio--lbf h4,
.portfolio--lbf h5,
.portfolio--lbf h6 {
	color: #444;
}

.technologies {
	text-align: center;
	list-style: none;
}

.technologies li {
	display: inline-block;
}

.roles ~ .portfolio__info,
.portfolio__screens {
	display: none;
}

@media screen and (min-device-width: 1024px) {
	.roles ~ .portfolio__info,
	.portfolio__screens {
		display: block;
	}
	.ui-panel--content .thumb {
		display: none;
	}

	.portfolio__info {
		font-size: .6em;
		line-height: 1.75em;
		float: left;
		width: 33.33%;
	}

	.portfolio__info h6 {
		text-align: center;
	}

	.portfolio__screens:before {
		clear: both;
		content: "";
		display: block;
	}

	.portfolio__screens {
		position: relative;
		width: 100%;
		display: flex;
		align-items: baseline;
		justify-content: center;
		/* You can set flex-wrap and flex-direction individually */
		flex-direction: row;
		flex-wrap: wrap;
		/* Or do it all in one line with flex flow */
		flex-flow: row wrap;
		/* tweak the where items line up on the row */
		/* valid values are: flex-start, flex-end, space-between, space-around, stretch */
		align-content: flex-end;
	}

	.portfolio__screens > figure {
		width: 33.3%;
		padding: .25em;
		transition: flex-grow .25s linear;
	}

}
